/* color palette
#2B2042 - dark blue
#8099AE - light blue
#EDF2F4 - blue/white
#EF233C - red
 */


 html {
    box-sizing: border-box;
}



.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }





 header,footer {
    background-color: rgb(110, 133, 151);

    color: rgb(126, 152, 173);
}

header {
    color:#EDF2F4;
   
 
}



h2 {
    font-size: 40px;
    margin-top: 0;
    color:#2B2042;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 12px;

}


section h2, {
    color:#2B2042;
    margin:0;

}





#logo {
    float: left;
    width: 250px;
    height: 150x;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #2B2042;
    padding:30px;

  }



h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    height: 100%;
    background-color: #8099AE;
 
 
}



nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: rgb(247, 241, 241);
    text-decoration: none;
    border-left: 1px solid #efefef;

    float: right;
    margin-top: 25px;
  }
  
  



/* index */


.content-wrap {

    max-width: 950px;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    height: 150px;
}


.body-content p {
    font-size: 20px;
    line-height: 2;
    margin-right: 5px;
    margin-left: 20px;
    width: 95%;

}




.img1 {
    float: left;
    height: 150px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}





.body-content {

    background-color: rgb(110, 133, 151);
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 100%; 
    height: 600px;
    max-width: 960px;

}


/* Contact page */


#con {
    padding-left: 20px;

}

.content-wrap-c {
    max-width: 950px;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    height: 150px;
}



.body-content-c {
    background-color: rgb(110, 133, 151);
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 100%; 
    height: 600px;
    max-width: 960px;

}

  


#input1 {
    font-size: 16px;
    width: 500px;
    border:solid rgba(255, 255, 255, 0.829)

}

#input2 {
    font-size: 16px;
    width: 500px;
    border:solid rgba(255, 255, 255, 0.829)

}

#input3 {
    font-size: 16px;
    height: 200px;
    width: 500px;
    border:solid rgba(255, 255, 255, 0.829)

}

#submit {
    background: #2B2042;
    color: #8099AE;
    padding: 8px 30px;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}
    


.footer-wrap-c {
    text-align: center;
    background: #2B2042;
    height:2px;
   

}


/* profile page */



.content-wrap-p {

    max-width: 950px;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    height: 150px;
} 



.body-content-p {

    background-color: rgb(110, 133, 151);
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 100%; 
    max-width: 960px;
    height: 600px;





}



.footer-wrap-p {
    text-align: center;
    background: #2B2042;
}



  

h3 {
    position: absolute;
    bottom: 10px;
    width: 130px;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 5px;
    color: #ffffff;
    text-align: center;
    background: #2B2042;
    border-bottom: 0;
  }
   

.pimg {
   margin: 20px;
   float:left;
   opacity: 0.8;
   border: 0 none;
   position: relative;
   overflow: auto;
   
}





.footer-wrap {
    text-align: center;
    background: #2B2042;
}



@media screen and (max-width:980px) {
    #container{
        width:100%;
    }
    #left-column {
        width:100%;
    }
    #right-column {
        width:100%;
    }
}



@media screen and (max-width:768px) {
    #container{
        width:100%;
    }
    #left-column {
        width:100%;
    }
    #right-column {
        width:100%;
    }


    nav {
        padding-right: 10px;
    }


}


@media screen and (max-width:640px) {
    #container{
        width:100%;
    }
    #left-column {
        width:100%;
    }
    #right-column {
        width:100%;
    }

    nav {

        float: left;
        margin-top: 2px;
        margin-left: 200px;
        
    }

    #logo {
       
        padding:2px;
        width:640px;
        text-align: center;
        height: 80px;
    }
}
       
        
     






    



